span.youtube-preview {
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    cursor: pointer;
    color: #7f7f7f;
    margin: 10px;
    z-index: 90000000;
}

span.youtube-preview:hover {
    color: #3B3B3B;
}